.section3{
    background-image: url('../../images/qt-bg.webp');
    background-size: cover;
    padding: 100px 0;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
}